.btn-enter {
  opacity: 0;
}

.btn-enter-active {
  opacity: 1;
  transition: all 0.4s;
}


.btn-exit {
  opacity: 1;
}

.btn-exit-active {
  opacity: 0;
  transition: all 0.4s;
}

.btn-exit-done {

}
